/* For license and copyright information please see LEGAL file in repository */

/**
 *
 *
 * Dark scrim background of element like dialog to focus user attention
 *
 *
 */

.disabledBackground {
    display: block;
    visibility: visible;
    position: fixed;
    background: var(--color--border);
    transition: opacity 250ms linear;
    width: 100%;
    height: 100%;
    top: 0px;
    right: 0px;
    margin: 0px;
    z-index: 5;
}

.disabledBackground[hidden] {
    display: unset;
    visibility: hidden;
    opacity: 0;
    transition: visibility 250ms linear, opacity 250ms linear;
}