/* For license and copyright information please see LEGAL file in repository */

/**
 *
 *
 * Dialog
 *
 *
 */

/**
 * Permanent dialog - usually open rare to close like MS-office menus
 *
Usage:
<dialog open><dialog>

Full simple usage:
<dialog open>
    <header>...</header>
    <div>...</div>
    <footer>...</footer>
</dialog>
*/

dialog {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    justify-content: center;
    background-color: var(--color--surface);
    color: var(--color--surface--primary-on);
    box-sizing: border-box;
    border-style: none;
    border-radius: 4px;
    min-width: 280px;
    width: fit-content;
    height: auto;
    z-index: 25;
    justify-content: space-around;
    opacity: 0;
    padding: 0;
    transform: scale(0);
    transition: opacity 230ms linear, transform 250ms 0ms cubic-bezier(0, 0, 0.2, 1);
}

dialog[open] {
    opacity: 1;
    transform: scale(1);
}

dialog[open]:focus {
    outline: none;
}

dialog:not([open]) {
    display: none;
}

@media (max-width: 592px) {
    dialog {
        max-width: calc(100vw - 32px);
    }
}

dialog[dir=rtl], [dir=rtl] dialog {
    text-align: right;
}

dialog>header {
    display: block;
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: var(--color--surface--primary-on);
    position: relative;
    flex-shrink: 0;
    box-sizing: border-box;
    margin: 0;
    padding: 9px 24px;
    border-bottom: 1px solid transparent;
}

dialog>header[dir=rtl] {
    text-align: right;
}

dialog>div {
    font-size: 1rem;
    line-height: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.03125em;
    text-decoration: inherit;
    text-transform: inherit;
    color: var(--color--surface--secondary-on);
    flex-grow: 1;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 24px;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

dialog>div> :first-child {
    margin-top: 0;
}

dialog>div> :last-child {
    margin-bottom: 0;
}

dialog>div[dir=rtl] {
    text-align: right;
}

dialog>header+div {
    padding-top: 0;
}

dialog>footer {
    display: flex;
    position: relative;
    flex-shrink: 0;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    box-sizing: border-box;
    min-height: 52px;
    margin: 0;
    padding: 8px;
    border-top: 1px solid transparent;
}

dialog>footer[dir=rtl] {
    text-align: right;
}

dialog>footer button {
    margin-left: 8px;
    margin-right: 0;
    max-width: 100%;
    text-align: right;
}

dialog>footer button:first-child {
    margin-left: 0;
    margin-right: 0;
}

[dir=rtl] dialog>footer button, dialog>footer button[dir=rtl] {
    text-align: right;
    margin-left: 0;
    margin-right: 8px;
}

[dir=rtl] dialog>footer button:first-child, dialog>footer button:first-child[dir=rtl] {
    margin-left: 0;
    margin-right: 0;
}

/* Permanent dialog must add not just <main> also all other app content like header, aside, ...*/

.app-content {
    margin-left: 256px;
    margin-right: 0;
}

[dir=rtl] .app-content, .app-content[dir=rtl] {
    margin-left: 0;
    margin-right: 256px;
}

/**
 * Scrollable Dialog
 *
 * Usage:
<dialog class="scrollable" open>
    <header>...</header>
    <div>...</div>
    <footer>...</footer>
</dialog>
 */

dialog.scrollable {
    height: unset;
}

dialog.scrollable>header, dialog.scrollable>footer {
    border-color: rgba(0, 0, 0, 0.12);
}

dialog.scrollable>header {
    padding-bottom: 15px;
}

dialog.scrollable>div {
    padding-top: 8px;
    padding-bottom: 8px;
}

dialog.stacked>footer {
    flex-direction: column;
    align-items: flex-end;
}

dialog.stacked>footer button:not(:first-child) {
    margin-top: 12px;
}

dialog.scroll-lock {
    overflow: hidden;
}

/**
 * Modal dialog
 */

dialog[type=modal]::backdrop {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.42);
    /* background-color: var(--color--border); TODO::: not working due to var not exist!!!??? */
    transition: background-color 250ms linear;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

dialog[type=modal] {
    box-shadow: var(--shadow--box--elevation-16dp);
}

/**
 * Drawer dialog
 *
 * https://material.io/develop/web/components/drawers/
 *
 * Usage:
<dialog class="drawer" open>
    <header>...</header>
    <div>...</div>
    <footer>...</footer>
</dialog>
 */

dialog.drawer {
    position: fixed;
    top: 0;
    margin: 0;
    min-width: 256px;
    height: 100%;
    border-color: var(--color--border--hr);
    border-radius: 0;
    border-right-width: 1px;
    border-right-style: solid;
    overflow: auto;
    transform: translateX(-100%);
}

[dir=rtl] dialog.drawer, dialog.drawer[dir=rtl] {
    border-right-width: 0;
    border-left-width: 1px;
    border-right-style: none;
    border-left-style: solid;
    transform: translateX(100%);
}

dialog.drawer[open] {
    transform: translateX(0);
}

dialog.drawer>header {
    flex-shrink: 0;
    box-sizing: border-box;
    min-height: 60px;
    padding: 4px 16px;
}

dialog.drawer>header>h3 {
    color: var(--color--surface--primary-on);
    font-size: 1.25rem;
    line-height: 2rem;
    font-weight: 500;
    letter-spacing: 0.0125em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

/* use as sub-header */

dialog.drawer h6 {
    color: var(--color--surface--secondary-on);
    font-size: 0.875rem;
    line-height: 1.25rem;
    font-weight: 400;
    letter-spacing: 0.0178571429em;
    text-decoration: inherit;
    text-transform: inherit;
    display: block;
    margin-top: 0;
    margin-bottom: 0;
}

dialog.drawer>div {
    height: 100%;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    padding: 0;
}

dialog.drawer hr {
    margin: 4px 0;
}

dialog.drawer li {
    font-size: 0.875rem;
    line-height: 1.375rem;
    font-weight: 500;
    letter-spacing: 0.0071428571em;
    text-decoration: inherit;
    text-transform: inherit;
    height: 40px;
    margin: 8px;
    padding: 0 8px;
    border-radius: 4px;
}

dialog.drawer li:nth-child(1) {
    margin-top: 2px;
}

dialog.drawer li:nth-last-child(1) {
    margin-bottom: 0;
}

/* Dismissible drawer dialog */

dialog.drawer.dismissible {
    left: 0;
    right: initial;
    display: none;
    position: absolute;
}

[dir=rtl] dialog.drawer.dismissible, dialog.drawer.dismissible[dir=rtl] {
    left: initial;
    right: 0;
}

/**
 *
 * Dialog menu
 *
 * https://material.io/develop/web/components/menus/
 */

dialog[type=menu] {
    position: absolute;
    min-width: 112px;
    max-width: calc(100vw - 32px);
    max-height: calc(100vh - 32px);
    margin: 0;
    overflow: auto;
    box-shadow: var(--shadow--box--elevation-8dp);
    transform-origin: top left;
    transform-origin-left: top left;
    transform-origin-right: top right;
}

[dir=rtl] dialog[type=menu], dialog[type=menu][dir=rtl] {
    transform-origin-left: top right;
    transform-origin-right: top left;
}

dialog[type=menu] hr {
    margin: 8px 0;
}

dialog[type=menu] li {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

dialog[type=menu] li:disabled {
    cursor: auto;
}

dialog[type=menu].fixed {
    position: fixed;
}

.menu-surface--anchor {
    position: relative;
    overflow: visible;
}