/* For license and copyright information please see LEGAL file in repository */

/**
 *
 *
 * Image
 *
 *
 */

/**
 * Image with alt as caption
 *
 * https://material.io/develop/web/components/image-lists/
 */

img.alt-caption::after {
    content: attr(alt);
    position: absolute;
    box-sizing: border-box;
    bottom: -48px;
    width: 100%;
    height: 48px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 0;
    color: var(--color--surface--primary-on);
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
    padding: 8px 16px;
    line-height: 24px;
    font-size: 1rem;
    line-height: 1.75rem;
    font-weight: 400;
    letter-spacing: 0.009375em;
    text-decoration: inherit;
    text-transform: inherit;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

/**
 * Image with alt in a scrim overlaying image
 *
 * https://material.io/develop/web/components/image-lists/
 */

img.alt-scrim::after {
    content: attr(alt);
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 48px;
    padding: 0 16px;
    background: rgba(0, 0, 0, 0.6);
    color: #fff;
}

img.avatar {
    border-radius: 50%;
    width: 32px;
    height: 32px;
    padding: 8px;
}